[project]
	description = youtubeDemo2 for class
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/macanrk
[access "refs/for/refs/*"]
	read = group user/macanrk
	push = group user/macanrk
	label-Code-Review = -2..+2 group user/macanrk
	label-Verified = -1..+1 group user/macanrk
	rebase = group user/macanrk
	removeReviewer = group user/macanrk
	submit = group user/macanrk
[access "refs/heads/*"]
	read = group user/macanrk
	create = group user/macanrk
	push = +force group user/macanrk
	pushMerge = group user/macanrk
[access "refs/tags/*"]
	push = +force group user/macanrk
	pushTag = group user/macanrk
	pushSignedTag = group user/macanrk
